.features {
  margin-inline: 20px;
  margin-bottom: 130px;

  @include mobile {
    margin-bottom: 60px;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: var(--dark-blue);

    margin-bottom: 30px;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--text-secondary);
    margin-inline: auto;

    margin-bottom: 81px;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--dark-blue);

    @include mobile-s {
      text-align: left;
    }
  }

  &__info {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: var(--text-secondary);

    @include mobile-s {
      text-align: left;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    @include mobile {
      row-gap: 10px;
    }

    @include mobile-s {
      display: grid;
      grid-template-columns: 25% 75%;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
      row-gap: 35px;
    }
  }
}
